.button {
        position: absolute;
        top: 320px;
        left: 746px; 
        font-family: Arial, Helvetica, sans-serif; 
        font-weight:	bold;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 9px 20px;
        border-radius: 10px;
        border: none;
        color: #fff;
        background: #367cdf;
       
      }
  
  .button:hover {background-color: #367cdf}
  
.two  {border-style: solid; border-color: rgb(0, 0, 0); border-width: 1px; padding: 20px 100px; margin: 67px 100px 0px 550px; background-color: #f8fafd;}

.div {
    position: absolute;
    top: 250px;
    left: 590px; 
    font-family: Arial, Helvetica, sans-serif;
  font-style:	normal;
  font-weight:	normal;
  color: #a1a1a1;  
  } 
.div1 {
    position: absolute;
    top: 250px;
    left: 670px; 
    width: 15%;
  border: 1px solid #a1a1a1;
  padding: 3px ;
  border-radius: 3px;  
  }
.div2 {
    position: absolute;
    top: 280px;
    left: 590px; 
    font-family: Arial, Helvetica, sans-serif;
  font-style:	normal;
  font-weight:	normal;
  color: #a1a1a1;  
  } 
.div3 {
    position: absolute;
    top: 280px;
    left: 670px; 
    width: 15%;
  border: 1px solid #a1a1a1;
  padding: 3px ;
  border-radius: 3px;  
  } 
  
  .text{
    font-family: Arial, Helvetica, sans-serif;
  font-style:	normal;
  font-weight:	bold;
  color: #000000;
  }

  .two1  {border-bottom: solid; border-left: solid; border-right: solid;
    border-color: rgb(206, 203, 203); border-width: 1px; padding: 60px ; margin: 0px 480px 0px 480px; background-color: #f8fafd; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}
  .two11  {border-top: solid; border-left: solid; border-right: solid;
     border-color: rgb(206, 203, 203); border-width: 1px; padding: 5px 10px; margin: 150px 480px 0px 480px; background-color: #ffffff; border-top-left-radius: 10px; border-top-right-radius: 10px;}