<body>
    <div ngClass="div1">
        <div ngClass="logDiv"><br>
            <div ngClass="div2">
                <img src="/assets/Rationale_logo.png" alt="image">
            </div>
            <input type="text" placeholder="Enter User Name" [(ngModel)]="username" (keyup)="UsernameValidation($event)" ><br><br
                *ngIf="!showUserError"><br *ngIf="!showUserError">
            <p ngClass="p1" *ngIf="showUserError">You must enter at least 3 letters for the username</p>
            <input type="password" placeholder="Enter Password" 
                [(ngModel)]="password"  (keyup)="PasswordValidation($event)" ><br><br *ngIf="!showPassError"><br *ngIf="!showPassError">
            <p ngClass="p3" *ngIf="showPassError">You must enter at least 8 letters for the password</p><br
                *ngIf="!PassRequirements"><br *ngIf="!PassRequirements"><br *ngIf="!PassRequirements">
            <div ngClass="div4">
                <p ngClass="p2" *ngIf="PassRequirements">You must enter at least one uppercase letter, one lowercase letter, one character and one number</p>
            </div>
            <div ngClass="div3">
                <button mat-raised-button ngClass='button1'
                    [disabled]="showUserError || showPassError || showEmptyUser || showEmptyPass || PassRequirements"
                    (click)="onSingIn1(username, password)">Login</button>
            </div>
        </div>
    </div>
</body>