.button {
    background-color: #367cdf;
    border: none;
    color: white;
    padding: 19px 73px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px; }

.divInput{width: 178px;
    height: 57px;
    margin: 12px;
}
.divAdd{
    background: #ffffff;
    width: 43%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: solid; 
    border-color: rgb(206, 203, 203); border-width: 1px; 
    border-radius: 10px; 
}

.centre{display: flex; justify-content: center; margin: 28px;
    }

input{width: 92%;
    border: 1px solid #a1a1a1;
    padding: 3px ;
    border-radius: 3px;}

.input1{width: 97%;
        border: 1px solid #a1a1a1;
        padding: 3px ;
        border-radius: 3px;}

.divAll{display: flex;
    justify-content: center;}