<p>Zadatak 1:</p>
<div>
  <p>Username:</p>
  <input type="text" (change)="onUsernameChange()" [(ngModel)]="username">
</div>
<div>
  <p>Password:</p>
  <input type="password" [(ngModel)]="password">
</div>
<p>Zadatak 2:</p>
<div>
  <button (click)="onLogin()">Login</button>
</div>

<div *ngIf="isLoginButtonClicked">
  <p>Username: {{username}}</p>
  <p>Password: {{password}}</p>
</div>
<div>
  <p>Zadatak 3:</p>
  <p>Username length: {{username.length}}</p>
</div>

<div *ngIf="username.includes('!') || username.includes('@')">
  <p>Zadatak 4:</p>
  <p>Username can not contain '!' or '@' character</p>
</div>

<div *ngIf="usernameArr.length > 0">
  <p>Zadatak 5:</p>
  <div *ngFor="let c of usernameArr">
    <div>{{c}}</div>
  </div>
</div>
<!-- 
<div>
  <hr>
  <label>Username</label>
  <input type="text" class="form-control" [(ngModel)]="username">
  <label>Password</label>
  <input type="password" class="form-control" [(ngModel)]="password">
  <button class="btn btn-primary" (click)="btnLogin()">Login</button>
  <p *ngIf="showSecret">Username: {{username}}</p>
  <p *ngIf="showSecret">Password: {{password}}</p>
  <p *ngIf="showSecret">Broj karaktera: {{username.length}}</p>
  <div *ngIf="showSecret" [ngSwitch]="username">
      <div *ngSwitchCase="'@'">Username ne sme sadrzati @ karakter</div>
      <div *ngSwitchCase="'!'">Username ne sme sadrzati ! karakter</div>
    </div>
  <p *ngIf="showSecret">{{username[0]}}</p>
  <p *ngIf="showSecret">{{username[1]}}</p>
  <p *ngIf="showSecret">{{username[2]}}</p>
  <p *ngIf="showSecret">{{username[3]}}</p>
  <p *ngIf="showSecret">{{username[4]}}</p>
  <p *ngIf="showSecret">{{username[5]}}</p>
  <p *ngIf="showSecret">{{username[6]}}</p>
  <p *ngIf="showSecret">{{username[7]}}</p>
</div> -->