<table ngClass='tabela'>
       <tr ngClass='policy1'>
            <td>Name</td>
            <td style="position: absolute; left: 180px;">Last Name</td>
            <td style="position: absolute; left: 363px;">Position</td>
            <td style="position: absolute; left: 525px;">Status</td>
            <td></td>
            <td></td>
        </tr>
        <tr *ngFor="let account of accounts" ngClass='policy'>
                <td >{{account.name}}</td>
                <td style="position: absolute; left: 180px;">{{account.lastName}}</td>
                <td style="position: absolute; left: 363px;">{{account.position}}</td>
                <td style="position: absolute; left: 525px; color: #548356;">{{account.status}}</td>
              <button style="position: absolute; left: 680px;" ngClass='button123 buttonPos' (click)="editRout(account.id)">Edit</button>
              <button style="position: absolute; left: 770px;" ngClass='button123 buttonPos1' (click)="btnDelete(account.id)">Delete</button>
              
        </tr>
</table>
