<body>
<div ngClass='divPosition'>
<div ngClass='dviName' > 
 <p>{{ getData() }}</p>
</div> 
<button ngClass='button1 button5'  (click)="onLogin()">Login</button>
</div>
<div ngClass='topnav'>
<button ngClass='button button1' (click)="onShow()">Add Employee</button>
<button ngClass='button button1' (click)="onShow1()">Employee List</button>

</div>
<div *ngIf="showSecret">
<app-add-employee (accountAdd)="onAccountAdd($event)"></app-add-employee>
</div>
<div *ngIf="showSecret1">
<app-employee-list></app-employee-list>
</div>
</body>