<body>
  <div ngClass='topnav'>
  <button *ngIf="account != undefined"  ngClass='button button1 btn' (click)="onBack()">❮❮❮</button>
  <button ngClass='button button1' (click)="onShow()">INFO</button>
  <button ngClass='button button1' (click)="onShow1()">PASSWORD</button>
</div>
 <div ngClass='div1P' *ngIf="account != undefined && showSecret">
   <div ngClass='txtDiv'> 
     <p ngClass='textTitle'>User Info</p>
   </div>
 <div ngClass='dataDiv1'>
 <div ngClass='div1'><br>
    <div ngClass='img'></div><br>  
    <button ngClass='buttonInfo' (click)="saveData(account)">Upload</button>
 </div>
 <div ngClass='div2'>
    <label ngClass='text'>Email</label><br>
    <input type="email" ngClass='inputInfo' [(ngModel)]="account.email"><br><br>
    <label ngClass='text'>First Name:</label><br>
    <input type="text" ngClass='inputInfo' [(ngModel)]="account.name"><br><br>
    <label ngClass='text'>Company:</label><br>
    <input type="search" list="data" ngClass='inputInfo2' [(ngModel)]="account.company">
    <datalist id="data">
        <option value="1">
        <option value="2">
    </datalist><br><br>
    <label ngClass='text'>Work Phone:</label><br>
    <input type="text" ngClass='inputInfo'  [(ngModel)]="account.workPhone">
 </div>
 <div ngClass='div3'>
    <label ngClass='text'>Alt. Email:</label><br>
    <input type="email" ngClass='inputInfo' [(ngModel)]="account.altEmail"><br><br>
    <label ngClass='text'>Last Name:</label><br>
    <input type="text" ngClass='inputInfo' [(ngModel)]="account.lastName"><br><br>
    <label ngClass='text'>Designation:</label><br>
    <input type="text" ngClass='inputInfo' [(ngModel)]="account.designaton"><br><br>
    <label ngClass='text'>Mobile Phone:</label><br>
    <input type="text" ngClass='inputInfo' [(ngModel)]="account.mobilPhone"><br><br>
 </div>
 <div ngClass='div4'>
    <div ngClass='div44'>
    <label ngClass='text'>Status:</label><br>
    <input type="search" list="data1" ngClass='inputInfo2' [(ngModel)]="account.status">
    <datalist id="data1">
        <option value="Active">
        <option value="Inactive">
    </datalist><br><br>
    <label ngClass='text'>Username</label><br>
    <input type="text" ngClass='inputInfo' [(ngModel)]="account.username"><br><br>
    <label ngClass='text'>Initials:</label><br>
    <input type="text" ngClass='inputInfo' [(ngModel)]="account.initials"><br><br></div>
 </div>
</div>
</div>

 
<div ngClass='div1P' *ngIf="account != undefined && showSecret1">
   <div ngClass='txtDiv'>
   <p ngClass='textTitle'>Password</p>
   </div>
   <div ngClass='dataDiv'><br><br>
   <label ngClass='textInput'>Password</label><br>
    <input type="password" ngClass='inputPass' [(ngModel)]="account.password"><br><br>
    <label ngClass='textInput'>Password Confirm</label><br>
    <input type="password" ngClass='inputPass' [(ngModel)]="passwordConfirm"><br><br>
    <button ngClass='buttonPass' (click)="savePass(account)">Save</button>
   </div>
</div> 

</body>
